<section id="comments">
  <h3>Leave a Reply</h3>

  {%- if site.disqus.shortname == "DISQUS_SHORTNAME" or site.disqus.shortname == "" or site.disqus.shortname == nil -%}
  <div class="disqus-placeholder">
    <p>
      <strong>Comments are not configured yet.</strong>
      Register a site at <a href="https://disqus.com/">disqus.com</a> and put the
      shortname into the <code>disqus</code> section of <code>_config.yml</code>.
      See <code>README.md</code> for the walkthrough.
    </p>
  </div>
  {%- else -%}
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url        = {{ page.url | absolute_url | jsonify }};
      this.page.identifier = {{ page.id  | jsonify }};
      this.page.title      = {{ page.title | jsonify }};
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://' + {{ site.disqus.shortname | jsonify }} + '.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
  {%- endif -%}
</section>
